# Source: https://gist.github.com/dpalomar/ebc64d6f56cfc25a3e5c20fe7cdfbd4f

# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

# Force the following filetypes to have unix eols, so Windows does not break them
*.* text eol=lf

#
## These files are binary and should be left untouched
#

# (binary is a macro for -text -diff)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.pyc binary
*.pdf binary
*.ez binary
*.bz2 binary
*.swp binary
*.chm binary

# Unity file auto collapse
*.anim binary -diff
*.asset binary -diff
*.mat binary -diff
*.meta binary -diff
*.controller binary -diff
*.prefab binary -diff
*.playable binary -diff
*.terrain binary -diff
*.exr binary -diff
